<nav class="bopbopbop">
<div id="header" class="header">
   <nav id="nav" class="boom">
       
       <ul class="nav navbar-nav">
           <span><h1>Summerville GI</h1></span>
           <li>
             <a href="#home">Home</a>
           </li>
           <li>
             <a href="#about">About</a>
           </li>
           <li>
             <a href="#providers">Providers</a>
           </li>

           <li>
             <a href="#location">Location</a>
           </li>
           <li>
             <a href="#contact">Contact</a>
           </li>
       </ul>
   </nav>
<div class="nav boom1">
        <div class="navControl">
            
            <a href="#" style="font-size:1.7em;">Summerville GI&nbsp;&nbsp;&Congruent;</a>
        </div>

        <ul>
            
           <li>
             <a href="#home">Home</a>
           </li>
           <li>
             <a href="#about">About</a>
           </li>
           <li>
             <a href="#providers">Providers</a>
           </li>

           <li>
             <a href="#location">Location</a>
           </li>
           <li>
             <a href="#contact">Contact</a>
           </li>
        </ul>
    </div>
</div>   
</nav>

