{% block title %}Summerville GI{% endblock %}
{% block content %}
  
<div id="home" class="scroll">
  <img class="maxx" src="/includes/img/stomachaches.png" alt="Stomachaches to colonoscopies" />
		
		<!-- Domm modal content -->
		<div id="basic-modal-content">
			<h2>Dr. Aaron Domm</h2>
<h4>Educational Background</h4>
<ul id="noner">
    <li>Endoscopic Ultrasound / Advanced Procedure Training: MUSC Charleston, SC</li>
    <li>Gastroenterology Fellowship: UCLA, Los Angeles, California</li>
    <li>Chief Resident Internal Medicine: Rush Medical University Chicago, Illinois</li>
    <li>Internal Medicine Residency: Rush Medical University, Chicago Illinois</li>
    <li>Medical School: Medical College of Ohio Toledo, Ohio</li>
</ul>
<h4>Certifications & Affiliations</h4>
<ul id="noner">
<li>American Board of Internal Medicine – Internal Medicine</li>
<li>American Board of Internal Medicine – Gastroenterology</li>
<li>Charleston County Medical Society (CCMS)</li>
<li>Dorchester County Medical Society (DCMS)</li>
</ul>
		</div>

		<!-- Lawrence modal content -->
		<div id="basic-modal-content2">
			<h2>Dr. Christopher Lawrence</h2>
<h4>Educational Background</h4>
<ul id="noner">
    <li>Advanced Endoscopy Fellowship: Maine Medical Center, Portland, Maine</li>
    <li>Gastroenterology Fellowship: University of Virginia, Charlottesville, Virginia</li>
    <li>Internal Medicine Residency: Georgetown University, Washington, DC</li>
    <li>MD – University of Mississippi – School of Medicine, Jackson, MS</li>
</ul>
<h4>Certifications & Affiliations</h4>
<ul id="noner">
<li>Fellow – American Society of Gastrointestinal Endoscopy</li>
<li>American Board of Internal Medicine – Gastroenterology</li>
</ul>
		</div>

		<!-- Scalzo modal content -->
		<div id="basic-modal-content3">
			<h2>Celeste Scalzo, FNP</h2>
<h4>Educational Background</h4>
<ul id="noner">
    <li>MSN – MUSC, Charleston, SC</li>
    <li>BSN – MUSC, Charleston, SC</li>
</ul>
<h4>Certifications & Affiliations</h4>
<ul id="noner">
<li>American Academy of Nurse Practitioners – FNP</li>
</ul>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>


<div class="blamblamblam-container">
<a class="white" href="#location"><div class="blamblamblam"><img src="/includes/img/sumgi1.png" alt="Location Marker"><p>Conveniently Located in Summerville, SC</p></div></a>
<a class="white" href="#providers"><div class="blamblamblam"><img src="/includes/img/sumgi2.png" alt="Location Marker"><p>Experienced Providers<br /><em>Expert Care</em></p></div></a>
<a class="white" href="#contact"><div class="blamblamblam2"><img src="/includes/img/sumgi3.png" alt="Location Marker"><p>Now Accepting<br />New Patients</p></div></a>
   <p>&nbsp;</p>
</div>
</div>
<div id="about" class="scroll">
    <p>&nbsp;</p>
<h2>About</h2>
<div class="blastit">
<p>In order to bridge the gap between primary care and gastrointestinal disorders,<a href="http://www.palmettoprimarycare.com" target="_blank">&nbsp;Palmetto Primary Care Physicians&nbsp;</a>has added two of the brightest physicians specializing in the digestive field today. “GI disorders are among the most common type of complaint among our patients,” states Palmetto Primary Care Physicians President, David Castellone, M.D. “Our patients will receive a multi-disciplinary approach to treatment. With the care coordination between their family physician and GI specialist, they won’t feel ‘lost’ in a system.”</p>
<p>When the Summerville GI office opened on April 2, 2012, both Dr. Aaron Domm and Dr. Christopher Lawrence were already well-respected GI specialists in the medical community. Dr. Domm has treated patients in the Lowcountry since 2008 and has received advanced training in endoscopic ultrasound from the Medical University of South Carolina, a procedure used to diagnose, stage, and treat GI cancers. Dr. Christopher Lawrence is a valuable and recent addition to our practice. He graduated Cum Laude from the University of Mississippi School of Medicine and has been a GI Specialist since 2005. In addition, the practice has the strength of a third provider, Celeste Scalzo, FNP.</p>
 </div>
</div>

<div id="providers" class="scroll">

    <h2>Providers</h2>
<div id='basic-modal' class="blastit">
<a href='#' class='basic blueblueblue'>
    <div class="prov clearfix">
    <img src="/includes/img/domm.png" alt="Dr. Aaron Domm" />
    <p>Aaron Domm, MD</p>
    </div>
</a>
    </div>
<div id='basic-modal2' class="blastit">
<a href='#' class='basic2 blueblueblue'>
    <div class="prov clearfix">
    <img src="/includes/img/lawrence.png" alt="Dr. Christopher Lawrence" />
        <p>Christopher Lawrence, MD</p>
        </div>
        </div>
</a>
<div id='basic-modal3' class="blastit">
<a href='#' class='basic3 blueblueblue'>
    <div class="prov clearfix">
    <img src="/includes/img/scalzo.png" alt="Celeste Scalzo, FNP" />
        <p>Celeste Scalzo, FNP</p>
</div>
        </div>
    </a>

</div>
    <div class="bonkerz">
        <img src="/includes/img/arrows.png" class="arrows" alt="arrows" />
    <h4>Click on a provider to learn more about them!</h4>
</div>
<div id="location" class="scroll">
    <div class="paddit">
    <h2>Location</h2>
<img src="/includes/img/sumgi_mini.jpg" class="locationss" alt="Summerville GI Office Photo" />
<p><strong>Summerville GI</strong>, 102 W 8th N St, Summerville, SC 29483</p>

<iframe class="shrunkenmobile" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3345.0053394559513!2d-80.1675944!3d33.029989799999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe8b41068ddd07%3A0x91486bd01dad9fb3!2s102+W+8th+N+St%2C+Summerville%2C+SC+29483!5e0!3m2!1sen!2sus!4v1407442246633" width="800" height="400" frameborder="0" style="max-width:100%; border:0;"></iframe>

    </div>
</div>
<div id="contact" class="scroll shadowed">
    <h2>Contact</h2>
    <p>(843) 376-0670 <span style="color:#fff;">Phone</span><br />(843) 376-0669 <span style="color:#fff;">Fax</span></p>
    <p><a href="https://www.palmettoprimarycare.com/request-an-appointment/">&nbsp;Request an Appointment&nbsp;</a>through Palmetto Primary Care Physicians.</p>
    <div id="contact2">
    &copy; 2014 Summerville GI<br />
    Proudly part of<a class="footera" href="http://www.palmettoprimarycare.com" target="_blank">&nbsp;Palmetto Primary Care Physicians&nbsp;</a>
</div></div>
            
			
				<!-- Example of Batter's Grid -->
				<!-- <div class="grid">
					<div class="col-50"></div>
					<div class="col-50"></div>
					<div class="col-20"></div>
					<div class="col-80"></div>
					<div class="col-33"></div>
					<div class="col-33"></div>
					<div class="col-33"></div>
					<div class="col-40"></div>
					<div class="col-40 col--push-20"></div>
					<div class="col-75 col--centered"></div>
					<div class="col-20"></div>
					<div class="col-20"></div>
					<div class="col-20"></div>
					<div class="col-20"></div>
					<div class="col-20"></div>
					<div class="col-50 col--push-25"></div>
					<div class="col-25"></div>
					<div class="col-100"></div>
				</div> -->



{% endblock %}
